@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --inter-font:"Inter", sans-serif;
}

/** Some Custome Style **/
body,html{
    font-family: var(--inter-font);
}
button{
    cursor: pointer;
    transition: ease all 0.5s;
}
.pageheading{
    font-size:20px;
    font-weight:600;
    color: var(--primary);
    font-family: var(--inter-font);
}
.heading-icon img{
    filter:var(--filter-img-white);
}
.fetch-ai-btn{
    background: var(--color-white);
    color: var(--color-black);
}
.fetch-ai-btn:hover{
    background: var(--orange-1);
    color: var(--color-white);
}

/** Left Side Bar **/
.left-side-wrapp{
    background:var(--gray-text-bg);
}
.left-side-wrapp .bg-sidebar{
    background:transparent !important;
    border:none;
}
.site-logo-box {
	background:var(--color-primary-foreground);
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.site-logo-box button{
    background:transparent !important;
    cursor: pointer;
}


/** Main Content **/
.main-content{
    border:1px solid var(--border);
    border-radius:0;
    margin:0;
}

/** Main Navbar **/
.site-logo-box button > span {
	width: 32px;
}
.main-menu-links{
    padding:32px 16px;
}
.main-menu-links .menu-link {
	font-size: 14px;
	gap: 10px;
	display: flex;
	align-items: center;
	height: 40px;
    background: var(--color-sidebar-accent);
}
.main-menu-links .menu-link .menu-icon{
    width:25px;
    height:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    border-radius:5px;
    color: var(--color-black);
}
.main-menu-links .menu-link .menu-icon svg{
    width:15px;
}
.main-menu-links .menu-link[data-active="true"],
.main-menu-links .menu-link:hover{
    background: var(--orange-1);
    color: var(--color-white);
}
.main-menu-links .menu-link:hover .menu-icon{
    color: var(--orange-1);
}

[data-state="collapsed"] .site-logo-box button {
	margin: 0 auto;
}
[data-state="collapsed"] .main-menu-links .menu-link{
    background: var(--color-white);
}
[data-state="collapsed"] .main-menu-links .menu-link[data-active="true"],
[data-state="collapsed"] .main-menu-links .menu-link:hover{
    background: var(--orange-1);
}
[data-state="collapsed"] .main-menu-links .menu-link[data-active="true"] .menu-icon,
[data-state="collapsed"] .main-menu-links .menu-link:hover .menu-icon{
	background: transparent;
    color: var(--color-white);
}
.sidebar-menu-sub {
	margin: 0;
	border: 0;
	padding: 15px 15px;
	border-radius: 10px;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.10);
}

/* Left Menu Dropdown */
.menu-dropdoen-wrapp {
	border-radius: 0;
	border: none;
	min-width: 300px;
	background: #fff;
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.15);
	padding: 0;
}
.menu-dropdoen-wrapp .user-name,
.menu-dropdoen-wrapp .user-img{
    display:none;
}
.truncate.text-xs.text-muted-foreground {
	font-size: 14px;
}
.dropdown-menu-mail{
    padding:15px 0;
    margin:0 5px;
}
.dropdown-menu-mail a{
    font-size:12px;
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    padding:8px 15px;
    border-radius:17px;
    position: relative;
}
.dropdown-menu-mail a span{
    width:50px;
    height:16px;
    font-size:8px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:8px;
}
.dropdown-menu-mail a::before{
    content:"";
    height:10px;
    width:10px;
    border-radius:50%;
    background: var(--orange-1);
    position: absolute;
    transform: translateY(-50%);
    top:50%;
    left:15px;
    opacity:0;
}
.dropdown-menu-mail a:hover{
    background:var(--color-gray-100);
}
.dropdown-menu-mail a.active{
    padding-left:32px;
}
.dropdown-menu-mail a.active::before{
    opacity:1;
}
.dropdown-menu-link {
	padding: 15px;
}
.dropdown-menu-link .btn-default,
.dropdown-menu-link .btn-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background:var(--gray-text-bg);
    margin:10px 0;
    cursor: pointer;
    color: var(--primary);
}.dropdown-menu-link .btn-default svg,
.dropdown-menu-link .btn-logout svg{
    color: var(--orange-1);
}
.dropdown-menu-link .btn-default:hover{
    background: var(--orange-1);
    color: var(--color-white);
}
.dropdown-menu-link .btn-default:hover svg,
.dropdown-menu-link .btn-logout:hover svg{
    color: var(--color-white);
}
.dropdown-menu-link .btn-logout{
    background:#FFE6EC;
    color:#FF003F;
}
.dropdown-menu-link .btn-logout:hover{
    background:#FF003F;
    color:#fff;
}

/** Steps **/
.step-wrapp-card .bg-card {
	box-shadow: 0 2px 25px 0 rgba(0,0,0,0.10);
	border-radius: 15px;
	border: none;
	padding: 40px 15px;
}
.step-wrapp{
    max-width:1300px;
    width:100%;
    margin:0 auto;
}
.brand-heading {
	display: flex;
	align-items: center;
	gap: 15px;
}
.brand-heading span {
    width:45px;
	height: 45px;
	width: 45px;
	border-radius:5px;
	display: flex;
	align-items: center;
	justify-content: center;
    background: var(--orange-1);
}
.brand-step-item {
	text-align: center;
    cursor: pointer;
}
.brand-icon-item {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0 auto 5px auto;
	border:2px solid var(--border);
}
.brand-step-item .brand-progress{
    background: var(--border);
}
.brand-step-item .brand-completed{
    background: var(--orange-1);
    border-color: var(--orange-1);
    color: var(--color-white);
}
.setup-wizard-buttons .button-single {
	border: 1px solid var(--border);
	padding:20px 15px;
	cursor: pointer;
	min-width: 150px;
	justify-content: center;
	align-items: center;
    background: var(--secondary);
    font-size:16px;
    height:50px;
}
.setup-wizard-buttons [disabled=""].button-single {
	background:var(--color-sidebar-accent);
    border-color:rgba(255,91,73,0.10);
	cursor: not-allowed;
    color:var(--primary);
}
.setup-wizard-buttons [type="submit"].button-single,
.setup-wizard-buttons .button-completed {
	background: var(--orange-1);
    color: var(--color-white);
    border-color: var(--orange-1);
}
span.img-avatar {
    align-items: center;
    gap: 5px;
    height: auto;
    cursor: pointer;
    width:auto;
}
span.img-avatar img{
    width:15px;
    border-radius:50%;
}

/** Form Control **/
.default-table thead th{
    color:var(--gray-text-color);
}
.default-table th,
.default-table td{
    border:1px solid var(--border);
}
.default-table th button[aria-checked="true"],
.default-table td button[aria-checked="true"]{
    background: var(--orange-1);
    border-color: var(--orange-1);
}
.sentiment-td {
	background: rgba(109,195,35,0.20);
	border-radius:5px;
	padding: 7px 9px;
	display: flex;
	align-items: center;
	gap: 10px;
    color: var(--primary);
}
.sentiment-td span{
	flex:10px;
    width:10px;
    height:10px;
    border-radius:3px;
    background:#6DC323;
}
.position-td{
    background:transparent;
	border-radius:5px;
	padding: 7px 9px;
	display: flex;
	align-items: center;
	gap: 10px;
    color: var(--primary);
    border: 1px solid var(--border);
}
.position-td span{
    color: var(--color-sidebar-ring);
}

/** Form Control **/
.form-control {
	height: 50px;
    margin-bottom:30px;
    background:var(--color-gray-100);
    border-color:var(--color-gray-300);
    color: var(--color-gray-600);
}
.form-control::placeholder{
    color: var(--color-gray-400);
}
textarea.form-control{
    height:165px;
}

/** Add Prompts **/
.add-prompt-lists {
	padding:10px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
	background:var(--color-sidebar);
    gap:5px;
    height:auto;
    border-radius:5px;
}
.add-prompt-lists button{
    padding:11px 35px;
    background:#F4F4F4;
    color:#747272;
    border-radius:5px;
    font-size:14px;
    font-weight:600;
    cursor: pointer;
}
.add-prompt-lists button[aria-selected="true"]{
    background:var(--orange-1);
    color:var(--color-white);
}
.add-prompt-btn {
	height: 50px;
	padding: 0 20px;
	border: none;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	font-size: 14px;
	font-weight: 600;
    background: var(--color-white);
    transition: ease all 0.5s;
    color: var(--color-black);
}
.add-prompt-btn:hover {
	background: var(--orange-1);
    color: var(--color-white);
}
.add-new-prompt button {
	padding: 8px 15px;
	height: 50px;
	width: auto;
	min-width: 150px;
    cursor: pointer;
}
.add-new-prompt button[disabled=""] {
	cursor: not-allowed;
}
.add-new-prompt button.cancle-btn{
    background: rgba(255, 0, 63, 0.15);
    color: #FF003F;
}
.add-new-prompt button.cancle-btn:hover{
    background:#FF003F;
    color: #fff;
}
.add-new-prompt button.add-prompt-btn{
    background:var(--color-sidebar-accent);
    color: var(--color-black);
    opacity:1;
    border:1px solid var(--border);
}
.add-new-prompt button.add-prompt-btn:hover{
    background: var(--orange-1);
    color: var(--color-white);
}

/* Check Action */
.prompts-action {
	display: flex;
	max-width: 500px;
    width:100%;
	align-items: center;
    justify-content: space-between;
	gap: 15px;
    padding:10px 10px 10px 20px;
    border-radius:10px;
    box-shadow:0 0 15px 0 rgba(0,0,0,0.15);
    position: fixed;
    bottom:-100%;
    transform: translateX(-50%);
    left: 50%;
    background: #fff;
    z-index: 999;
    transition: ease all 0.3s;
}
.prompts-action.active {
    bottom:10px;
}
.prompts-action p{
    font-size:14px;
    font-weight:600;
    margin:0;
    color: var(--color-black);
}
.prompts-action-btns {
    display: flex;
    gap:10px;
}
.prompts-action-btns button{
    font-size:14px;
    font-weight:600;
    padding:10px 15px;
    display:flex;
    gap:10px;
    align-items: center;
    cursor: pointer;
    border-radius:5px;
}
.prompts-action-btns button svg{
    width:14px;
}
.prompts-action-btns button.active-ch{
    background: rgba(109,195,35,0.20);
    color:#0CAD43;
}
.prompts-action-btns button.active-ch:hover{
    background:#0CAD43;
    color:#fff;
}
.prompts-action-btns button.deactive-ch{
    background: rgba(254,153,1,0.15);
    color:#FE9901;
}
.prompts-action-btns button.deactive-ch:hover{
    background:#FE9901;
    color:#fff;
}
.prompts-action-btns button.delete-ch{
    background:rgba(255, 0, 63, 0.15);
    color:#FF003F;
}
.prompts-action-btns button.delete-ch:hover{
    background:#FF003F;
    color:#FFF;
}

/** **/
.competitor-box{
    box-shadow:0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    padding:15px;
}
.competitor-box .edit-btn{
    height:30px;
    width:30px;
    border-radius:5px;
    background: var(--color-white);
    box-shadow:0 4px 15px 0 rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.competitor-box .edit-btn:hover{
    background: var(--orange-1);
    color: var(--color-white);
}
.competitor-btn-action{
    display: flex; 
    margin-top:10px;
    gap:15px;
}
.competitor-btn-action button{
    width:50px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:3px;
    box-shadow:0 4px 15px 0 rgba(0,0,0,0.15);
}
.competitor-btn-action button.btn-action-close {
    background:#FFCCD9;
    color:#FF003F;
}
.competitor-btn-action button.btn-action-close:hover{
    background:#FF003F;
    color:var(--color-white);
}
.competitor-btn-action button.btn-action-check {
    background:#E2F3D3;
    color:#6DC323;
}
.competitor-btn-action button.btn-action-check:hover {
    background:#6DC323;
    color:var(--color-white);
}

.competitor-title span{
    width:30px;
    height:30px;
    background: var(--color-gray-200);
    border-radius:3px;
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.competitor-title span svg{
    width:15px;
}
.buttons-wrapp {
    border-top:1px solid #E5E5E5;
    padding:10px;
}
.buttons-wrapp a {
	flex: 0 0 80px;
	height: 30px;
	padding: 0;
    border-radius:5px;
}
.buttons-wrapp a:hover{
    color: white;
    background: var(--orange-1);
}
.buttons-wrapp .cancel-btn{
    background:rgba(255,0,63,.10);
    color: #FF003F;
}
.buttons-wrapp .cancel-btn:hover{
    background:#FF003F;
    color: #fff;
}

.Create-Competitor {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: auto;
}